# Hands-On Pertemuan 11: Advanced MongoDB Operations and Data Query

## Objectives:
- Dive into advanced query operations and aggregation pipelines in MongoDB.
- Enhance skills in filtering, grouping, and analyzing data with MongoDB.
- Master complex MongoDB operations for real-world data scenarios.

### 1. Advanced CRUD Operations
- **Exercise 1**: Use `bulk_write` to insert, update, and delete multiple documents simultaneously.
- **Task 1**: Insert a dataset of `courses` where each course has multiple student enrollments, then display the data.

In [1]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 28.4 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 14.9 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [2]:
from pymongo import MongoClient, InsertOne, UpdateOne, DeleteOne

# Establish client connection
client = MongoClient('mongodb+srv://ferdimaulanaikhsan14:lYV7f6lYFdnBI1Vb@bigdata.r7svr.mongodb.net/')
db = client['university_db']
courses_collection = db['courses']

# Bulk insert of courses with student enrollments
operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 20, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics'})
]
courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

### 2. Complex Filtering and Querying
- **Exercise 2**: Filter courses with enrollments over 20 students.
- **Task 2**: Retrieve and display courses only from the 'Computer Science' or 'Mathematics' departments.

In [3]:
# Query for courses with enrollments greater than 20
for course in courses_collection.find({'enrollments': {'$gt': 20}}):
    print(course)

{'_id': ObjectId('673357d87720b4fc8e1f1c29'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('673357d87720b4fc8e1f1c2a'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

In [4]:
# Query courses in Computer Science or Mathematics departments
for course in courses_collection.find({'department': {'$in': ['Computer Science', 'Mathematics']}}):
    print(course)

{'_id': ObjectId('673357d87720b4fc8e1f1c29'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics'}
{'_id': ObjectId('673357d87720b4fc8e1f1c2a'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science'}

### 3. Aggregation Framework for Data Analysis
- **Exercise 3**: Use aggregation to find the average enrollment per department.
- **Task 3**: Create an aggregation pipeline that finds the maximum enrollment for each department.

In [5]:
# Average enrollment per department using aggregation
pipeline = [
    {'$group': {'_id': '$department', 'average_enrollment': {'$avg': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'History', 'average_enrollment': 20.0}
{'_id': 'Mathematics', 'average_enrollment': 30.0}
{'_id': 'Computer Science', 'average_enrollment': 25.0}
{'_id': 'Physics', 'average_enrollment': 15.0}

In [6]:
# Maximum enrollment per department
pipeline = [
    {'$group': {'_id': '$department', 'max_enrollment': {'$max': '$enrollments'}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'max_enrollment': 25}
{'_id': 'Physics', 'max_enrollment': 15}
{'_id': 'Mathematics', 'max_enrollment': 30}
{'_id': 'History', 'max_enrollment': 20}

### 4. Data Transformation using $project and $addFields
- **Exercise 4**: Use `$project` to rename and only show fields: `course_name`, `department_name`, and `enrollments`.
- **Task 4**: Use `$addFields` to create a new field `enrollment_category` where enrollments > 20 are 'high' and others 'low'.

In [7]:
# Projection to rename fields
pipeline = [
    {'$project': {'course_name': '$course', 'department_name': '$department', 'enrollments': 1}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('673357d87720b4fc8e1f1c29'), 'enrollments': 30, 'course_name': 'Math 101', 'department_name': 'Mathematics'}
{'_id': ObjectId('673357d87720b4fc8e1f1c2a'), 'enrollments': 25, 'course_name': 'CS 102', 'department_name': 'Computer Science'}
{'_id': ObjectId('673357d87720b4fc8e1f1c2b'), 'enrollments': 20, 'course_name': 'History 201', 'department_name': 'History'}
{'_id': ObjectId('673357d87720b4fc8e1f1c2c'), 'enrollments': 15, 'course_name': 'Physics 202', 'department_name': 'Physics'}

In [8]:
# Adding enrollment category field based on enrollments
pipeline = [
    {'$addFields': {'enrollment_category': {'$cond': {'if': {'$gt': ['$enrollments', 20]}, 'then': 'high', 'else': 'low'}}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('673357d87720b4fc8e1f1c29'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'enrollment_category': 'high'}
{'_id': ObjectId('673357d87720b4fc8e1f1c2a'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'enrollment_category': 'high'}
{'_id': ObjectId('673357d87720b4fc8e1f1c2b'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'enrollment_category': 'low'}
{'_id': ObjectId('673357d87720b4fc8e1f1c2c'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'enrollment_category': 'low'}

### Homework for Students
- **Homework 1**: Perform an aggregation to get a count of courses per department.
- **Homework 2**: Use `$match` and `$group` together to filter and get only courses with enrollments over 25 in 'Computer Science'.
- **Homework 3**: Apply `$lookup` to join `courses` collection with `students` collection based on student enrollments.

In [13]:
#insert data

operations = [
    InsertOne({'course': 'Math 101', 'enrollments': 32, 'department': 'Mathematics'}),
    InsertOne({'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science'}),
    InsertOne({'course': 'History 201', 'enrollments': 21, 'department': 'History'}),
    InsertOne({'course': 'Physics 202', 'enrollments': 19, 'department': 'Physics'})
]

courses_collection.bulk_write(operations)
print('Courses inserted successfully.')

Courses inserted successfully.

In [14]:
#Homework1

pipeline = [
    {'$group':{'_id':'$department','sum_courses':{'$sum':1}}}
]
for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'History', 'sum_courses': 2}
{'_id': 'Physics', 'sum_courses': 2}
{'_id': 'Computer Science', 'sum_courses': 2}
{'_id': 'Mathematics', 'sum_courses': 2}

In [15]:
#Homework2

pipeline = [
    {'$match': {'department': 'Computer Science', 'enrollments': {'$gt': 25}}},
    {'$group': {'_id': '$department', 'course_count': {'$sum': 1}}}
]

for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': 'Computer Science', 'course_count': 1}

In [16]:
#Homework3

from pymongo import InsertOne

db = client['university_db']
students_collection = db['students']

students = [
    {"_id": 101, "name": "Alice", "enrolled_course": "CS 104", "major": "Computer Science"},
    {"_id": 102, "name": "Bob", "enrolled_course": "CS 104", "major": "Computer Science"},
    {"_id": 103, "name": "Charlie", "enrolled_course": "CS 104", "major": "Mathematics"},
    {"_id": 104, "name": "David", "enrolled_course": "CS 104", "major": "Physics"},
    {"_id": 105, "name": "Eve", "enrolled_course": "CS 104", "major": "Mathematics"}
]

operations = [InsertOne(student) for student in students]

students_collection.bulk_write(operations)
print('Students inserted successfully.')

Students inserted successfully.

In [17]:
pipeline = [
    {
        '$lookup': {
            'from': 'students',
            'localField': 'course_id',
            'foreignField': 'enrolled_course',
            'as': 'student_enrollments'
        }
    }
]

for result in courses_collection.aggregate(pipeline):
    print(result)

{'_id': ObjectId('673357d87720b4fc8e1f1c29'), 'course': 'Math 101', 'enrollments': 30, 'department': 'Mathematics', 'student_enrollments': []}
{'_id': ObjectId('673357d87720b4fc8e1f1c2a'), 'course': 'CS 102', 'enrollments': 25, 'department': 'Computer Science', 'student_enrollments': []}
{'_id': ObjectId('673357d87720b4fc8e1f1c2b'), 'course': 'History 201', 'enrollments': 20, 'department': 'History', 'student_enrollments': []}
{'_id': ObjectId('673357d87720b4fc8e1f1c2c'), 'course': 'Physics 202', 'enrollments': 15, 'department': 'Physics', 'student_enrollments': []}
{'_id': ObjectId('6733686b7720b4fc8e1f1c2d'), 'course': 'Math 101', 'enrollments': 32, 'department': 'Mathematics', 'student_enrollments': []}
{'_id': ObjectId('6733686b7720b4fc8e1f1c2e'), 'course': 'CS 102', 'enrollments': 28, 'department': 'Computer Science', 'student_enrollments': []}
{'_id': ObjectId('6733686b7720b4fc8e1f1c2f'), 'course': 'History 201', 'enrollments': 21, 'department': 'History', 'student_enrollments': []}
{'_id': ObjectId('6733686b7720b4fc8e1f1c30'), 'course': 'Physics 202', 'enrollments': 19, 'department': 'Physics', 'student_enrollments': []}